definition_version: 2
 entities:
 streamlit_app:
 type: streamlit
 main_file: streamlit_app.py
 query_warehouse: COMPUTE_WH
 compute_pool: SYSTEM_COMPUTE_POOL_CPU
 artifacts:
 - pyproject.toml
 - streamlit_app.py
 - .streamlit/config.toml
 identifier:
 database: SMOOTHIES
 schema: PUBLIC
 name: UNTITLED_1
 title: Custom Smoothie Order Form
 run_mode: SpcsOnly
 execute_as: OWNER
 sharing:
 - role: SYSADMIN
 with_grant_option: true
